@model DOLPHIN.Model.CanBo
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin:20px">Cập nhật thông tin Cán bộ</h2>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="TenCanBo" class="control-label">Tên cán bộ</label>
                        <input asp-for="TenCanBo" class="form-control" />
                        <span asp-validation-for="TenCanBo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DonVi" class="control-label">Đơn vị</label>
                        <input asp-for="DonVi" class="form-control" />
                        <span asp-validation-for="DonVi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DiaChi" class="control-label">Địa chỉ</label>
                        <input asp-for="DiaChi" class="form-control" />
                        <span asp-validation-for="DiaChi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SoDienThoai" class="control-label">Số điện thoại</label>
                        <input asp-for="SoDienThoai" class="form-control" />
                        <span asp-validation-for="SoDienThoai" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Cập nhật" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a href="/CanBo/Index" class="btn btn-primary" style="margin-left:10px">Quay lại</a>
</div>

